.container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  /* width: 65vw; */
  /* margin: 11vh auto 0; */
  min-height: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.left {
  border-radius: 10px 0 0 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.right {
  border-radius: 0 10px 10px 0;
  background-color: #91adf5;
  display: grid;
  grid-template-columns: 3fr 4fr;
  padding: 20px;
  gap: 20px;
}

.imageBox {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.imageBox img {
  border-radius: 50%;
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
}

.content {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  text-align: left;
  color: #fff;
  align-items: center;
  padding: 1.13rem;
}

.buttonBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.button {
  all: unset;
  padding: 15px 10px;
  border-radius: 5px;
}

.modifyButton {
  color: white;
  background-color: var(--blue);
}

.changeButton {
  color: black;
  background-color: white;
}

.title {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  font-weight: bold;
  color: #fff;
}
.subTitle {
  font-size: 1.6rem;
}
.subTitle1 {
  font-size: 1.13rem;
}

.welfare {
  display: flex;
  column-gap: 10px;
  align-items: baseline;
  font-weight: bold;
  color: #fff157;
  justify-self: right;
  font-size: 1.13rem;
}
