.floor {
  font-size: 1.88rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 1rem;
}
.container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-content: center;
}
.box {
  color: #fff;
  height: 100%;
  margin: 0 auto 0;
  align-content: center;
}
.number {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
}
.positionName {
  font-size: 1.6rem;
  font-weight: bold;
}

.role {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.seat {
  text-align: center;
  width: 12vw;
  height: 150px;
  border-radius: 20px;
}
.inUse {
  background-color: var(--blue);
}
.vacant {
  background-color: #d9d9d9;
}
.unavailable {
  background-color: var(--text-description);
}
.notOccupied {
  background-color: #ff4c81;
}
